@model IEnumerable<AppFluxoDeCaixa.Models.Fornecedor>


@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th class="bg-black">
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th class="bg-black">
                @Html.DisplayNameFor(model => model.CNPJ)
            </th>
            <th class="bg-black">
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th class="bg-black">
                @Html.DisplayNameFor(model => model.Telefone)
            </th>
            <th class="bg-black">
                @Html.DisplayNameFor(model => model.DataCadastro)
            </th>
            <th class="bg-black">
                @Html.DisplayNameFor(model => model.Ativo)
            </th>
            <th class="bg-black"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CNPJ)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telefone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataCadastro)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ativo)
                </td>
                <td>
                    <a class="btn btn-sm btn-outline-primary me-2" asp-action="Edit" asp-route-id="@item.FornecedorId">Edit</a>
                    <a class="btn btn-sm btn-outline-danger" asp-action="Delete" asp-route-id="@item.FornecedorId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
